* {
	margin: 0; /* обнулить внешний отступ у всех элементов */
	padding: 0; /* обнулить внутренний отступ у всех элементов*/
}



/* ----------------------------------------------------------------- */

a {
	text-decoration: none;
}

.header {
	width: 100%;
	min-height: 120px;
	font-family: 'Trebuchet MS', sans-serif;
}

.inner_header {
	width: 1024px;
	margin: 0 auto;
}

.inner_header > h1 {
	color: #EE8129;
	display: inline-block;
	font-size: 42px;
	margin-top: 25px;
}

.inner_header > h1 span {
	text-transform: uppercase;
	color: #3070A8;
}

.inner_header ul {
	display: inline-block;
	float: right;
}

.inner_header ul li {
	display: inline-block;
	margin: 50px 0 0 0;
	text-transform: uppercase;
}

.inner_header ul li a {
	color: #989898;
	padding: 20px 20px 51px 20px;
}

.inner_header ul li a:hover {
	color: #3070A8;
	background: url(images/line.png) 100% 100% repeat-x;
}

/* ----------------------------------------------------------------- */

.shell_banner {
	width: 100%;
	min-width: 1024px;
	min-height: 575px;
	font-family: 'Trebuchet MS', sans-serif;
	background: url(images/banner.png) no-repeat;
	background-size: cover;
	color: #FFF;
}

.inner_banner {
	width: 1024px;
	margin: 0 auto;
	min-height: 575px;
}

.inner_banner > h1 {
	margin: 135px 0 20px 0;
	text-align: center;
	font-size: 57px;
	text-transform: uppercase;
}

.inner_banner > h1 span {
	font-size: 39px;
	font-weight: 500px;
	font-family: Garamond;
	text-transform: none;
	
}

.inner_banner p {
	margin: 0 220px 50px 220px;
	font-style: italic;
	font-size: 18px;
	line-height: 30px;
}

.inner_banner button {
	font-size: 18px;
	display: block;
	width: auto;
	padding: 20px 50px 20px 50px;
	background-color: transparent;
	margin: 0 auto;
	color: white;
	text-transform: uppercase;
}

button, 
button:active, 
button:focus {
    outline: none;
}


/* ----------------------------------------------------------------- */

.shell_service {
	width: 100%;
	min-height: 560px;
	font-family: 'Trebuchet MS', sans-serif;
}

.shell_service > h1 {
	width: 750px;
	margin: 60px auto;
	color: #41525C;
}

.inner_service {
	width: 1024px;
	margin: 0 auto;
}

.alert,
.detect,
.protect {
	display: inline-block;
	width: 330px;
}

.inner_service img {
	margin-left: 90px;
}

.inner_service h1 {
	text-align: center;
	margin: 20px 0 20px 0;
	color: #3070A8;
}

.inner_service p {
	text-align: center;
	color: #A9A9A9;
	line-height: 27px;
}

/* ----------------------------------------------------------------- */

.shell_people {
	width: 100%;
	min-width: 1024px;
	min-height: 575px;
	background: url(images/people.png) no-repeat;
	background-size: cover;
	font-family: 'Trebuchet MS', sans-serif;
}

.inner_people {
	width: 1024px;
	min-height: 575px;
	margin: 0 auto;
}

.orange {
	font-size: 28px;
	color: #EE8129;
	text-transform: uppercase;
	padding: 80px 0 0 0;
	line-height: 45px;
	
}

.white {
	color: #FFF;
	font-style: italic;
	font-size: 19px;
	line-height: 45px;
}

.inner_people ul {
	list-style-position: inside;
	width: 670px;
	line-height: 35px;
	margin-left: 20px;
	-list-style-type: none;
}

.inner_people ul li:nth-of-type(1) {
	color: #9d9d9d;
	margin: 10px 0;
}

.inner_people ul li:nth-of-type(2) {
	color: #3070a8;
	margin: 10px 0;
}

.inner_people ul li:nth-of-type(3) {
	color: #909090;
	margin: 10px 0;
}

/* ---------- Оболочка блока с билбордами ------------ */
div.shell {
	width: 880px; /* ширина блока */
	height: 480px; /* высота блока */
	margin: 70px auto; /* выравнивае по центру и смещение на 10% вниз  */
	position: relative; /* относительное позиционирование */
	overflow: hidden; /* не показывать элементы, выходящие за пределы блока */
}
/* ---------- Оболочка блока с билбордами END ------------ */

/* ---------- Левый билборд ------------ */
div.outer_left {
	font-family: 'Trebuchet MS'; /* установка шрифта (наследуется всеми элементами внутри) */
	width: 300px; /* ширина блока */
	min-height: 440px; /* минимальная высота блока */
	color: #2F4F4F; /* цвет шрифта - аспидно-серый  */
	background-color: #2BC2D5; /* цвет фона - светло-синий */
	border-radius: 5px; /* немного закруглить углы */
	position: absolute; /* абсолютное позиционирование */
	z-index: 1; /* установка слоя */
	top: 14px; /* сдвиг вниз  относительно края внутри div.shell*/
}

div.inner_left {
	border: 1px solid #2BC2D5; /* установить рамку светло-синего цвета */
	width: 300px; /* ширина блока */
	min-height: 375px; /* минимальная высота блока */
	margin: 15px 0px 0px 0px; /* внешний отступ блока */
	background-color: #FFF; /* цвет фона - белый */
	box-sizing: border-box; /* уместить в блок контент */
}

h2.header_left,
div.inner_left div {
	text-align: center; /* выравнивание по центру */
}

div.outer_left > h2.header_left {
	padding: 20px 0px 0px 0px; /* задать внутренние отступы */
	color: #FFF; /* цвет текста - белый */
}

h2.header_left {
	padding: 25px 0px 25px 0px; /* задать внутренние отступы */
}

div.inner_left div {
	font-weight: 600; /* полужирный текст */
	font-size: 20px; /* задать размер шрифта */
}

div.inner_left div span:nth-of-type(1) {
	vertical-align: top; /* выровнять по верху */
}

div.inner_left div span:nth-of-type(2) {
	font-size: 70px; /* задать размер шрифта */
} 

div.inner_left ul {
	list-style-image: url(images/bullet.png); /* установить в качестве буллита картинку */
	list-style-position: inside; /* поместить буллеты внутрь блока */
	margin: 15px 20px 20px 10px; /* задать внешние отступы */
}

div.inner_left ul li {
	margin: 0px 0px 1px 0px; /* задать внешние отступы */
	padding: 5px 0px 5px 40px; /* задать внутренние отступы */
	color: #A9A9A9; /* цвет текста - бело-алюминиевый */
}

div.inner_left ul li:nth-of-type(2n+1)
{
	background-color: #EDF5FD; /* цвет фона - лавандовый */
}

div.inner_left ul li:nth-of-type(2n)
{
	background-color: #F5F5F6; /* цвет фона - очень бледно-синий */
}

div.button_left button {
	width: 270px; /* ширина блока */
	padding: 10px 0px 10px 0px; /* задать внутренние отступы */
	margin: 0px 0px 15px 0px; /* задать внешние отступы */
	font-weight: 600; /* жирность текста - полужирный */
	color: #FFF; /* цвет текста - белый */
	background-color: #3070a8; /* цвет фона - темно-голубой */
	border-radius: 5px; /* немного закруглить углы */
}
/* ---------- Левый билборд END ------------ */

/* ---------- Центральный билборд ------------ */
div.outer_center {
	font-family: 'Trebuchet MS'; /* установка шрифта (наследуется всеми элементами внутри) */
	width: 300px; /* ширина блока */
	min-height: 480px; /* минимальная высота блока */
	color: #2F4F4F; /* цвет шрифта - аспидно-серый */
	background-color: #FF8C00; /* цвет фона - темновато-оранжевый */
	border-radius: 5px; /* немного закруглить углы */
	box-shadow: 0px 0px 10px rgba(0,0,0,0.5); /* задать тень по краям блока */
	position: absolute; /* абсолютное позиционирование */
	z-index: 2; /* установка слоя */
	right: 290px; /* сдвиг вправо  относительно края внутри div.shell */
}

div.inner_center {
	width: 290px; /* ширина блока */
	min-height: 385px; /* минимальная высота блока */
	margin: 25px 5px 0px 5px; /* задать внешние отступы */
	background-color: #FFF; /* цвет фона - белый */
}

h2.header_center,
div.inner_center div {
	text-align: center; /* выравнивание элементов по центру */
}

div.outer_center > h2.header_center {
	padding: 25px 0px 0px 0px; /* задать внутренние отступы */
	color: #FFF; /* цвет текста - белый */
}

h2.header_center {
	padding: 25px 0px 25px 0px; /* задать внутренние отступы */
}

div.inner_center div {
	font-weight: 600; /* жирность текста - полужирный */
	font-size: 20px; /* размер шрифта */
}

div.inner_center div span:nth-of-type(1) {
	vertical-align: top; /* выровнять по верху */
}

div.inner_center div span:nth-of-type(2) {
	font-size: 70px; /* размер шрифта */
}

div.inner_center ul {
	list-style-image: url(images/bullet.png); /* установить в качестве буллита картинку */
	list-style-position: inside; /* поместить буллеты внутрь блока */
	margin: 15px 10px 20px 10px; /* задать внешние отступы */
}

div.inner_center ul li {
	margin: 0px 0px 1px 0px; /* задать внешние отступы */
	padding: 5px 0px 5px 40px; /* задать внутренние отступы */
	color: #A9A9A9; /* цвет текста - бело-алюминиевый */
}

div.inner_center ul li:nth-of-type(2n+1)
{
	background-color: #EDF5FD; /* цвет фона - лавандовый */
}

div.inner_center ul li:nth-of-type(2n)
{
	background-color: #F5F5F6; /* цвет фона - очень бледно-синий */
}

div.button_center button {
	width: 270px; /* ширина блока */
	padding: 10px 0px 10px 0px; /* задать внутренние отступы */
	margin: 0px 0px 25px 0px; /* задать внешние отступы */
	font-weight: 600; /* жирность текста - полужирный */
	color: #FFF; /* цвет текста - белый */
	background-color: #FF8C00; /* цвет фона - темновато-оранжевый */
	border-radius: 5px; /* немного закруглить углы */
}
/* ---------- Центральный билборд END ------------ */

/* ---------- Правый билборд ------------ */
div.outer_right {
	font-family: 'Trebuchet MS'; /* установка шрифта (наследуется всеми элементами внутри) */
	width: 300px; /* ширина блока */
	min-height: 440px; /* минимальная высота блока */
	color: #2F4F4F; /* цвет шрифта - аспидно-серый */
	background-color: #00B89A; /* цвет фона - салатовый */
	border-radius: 5px; /* немного закруглить углы */
	position: absolute; /* абсолютное позиционирование */
	z-index: 1; /* установка слоя */
	left: 580px; /* сместить вправо  относительно края внутри div.shell */
	top: 14px; /* сместить вниз  относительно края внутри div.shell*/
}

div.inner_right {
	border: 1px solid #00B89A; /* задать рамку салатового цвета */
	width: 300px; /* ширина блока */
	min-height: 375px; /* минимальная высота блока */
	margin: 15px 0px 0px 0px; /* задать внешние отступы */
	background-color: #FFF; /* цвет фона - белый */
	box-sizing: border-box; /* уместить в блок контент */
}

h2.header_right,
div.inner_right div {
	text-align: center; /* выровнять по центру */
}

div.outer_right > h2.header_right {
	padding: 20px 0px 0px 0px; /* задать внутренние отступы */
	color: #FFF; /* цвет текста - белый */
}

h2.header_right {
	padding: 25px 0px 25px 0px; /* задать внутренние отступы */
}

div.inner_right div {
	font-weight: 600; /* жирность текста - полужирный */
	font-size: 20px; /* задать размер шрифта */
}

div.inner_right div span:nth-of-type(1) {
	vertical-align: top; /* выровнять по верху */
}

div.inner_right div span:nth-of-type(2) {
	font-size: 70px; /* задать размер шрифта */
}

div.inner_right ul {
	list-style-image: url(images/bullet.png); /* установить в качестве буллита картинку */
	list-style-position: inside; /* поместить буллеты внутрь блока */
	margin: 15px 10px 20px 20px; /* задать внешние отступы */
}

div.inner_right ul li {
	margin: 0px 0px 1px 0px; /* задать внешние отступы */
	padding: 5px 0px 5px 40px; /* задать внутренние отступы */
	color: #A9A9A9; /* цвет текста - бело-алюминиевый */
}

div.inner_right ul li:nth-of-type(2n+1)
{
	background-color: #EDF5FD; /* цвет фона - лавандовый */
}

div.inner_right ul li:nth-of-type(2n)
{
	background-color: #F5F5F6; /* цвет фона - очень бледно-синий */
}

div.button_right button {
	width: 270px; /* ширина блока */
	padding: 10px 0px 10px 0px; /* задать внутренние отступы */
	margin: 0px 0px 15px 0px; /* задать внешние отступы */
	font-weight: 600; /* жирность текста - полужирный */
	color: #FFF; /* цвет текста - белый */
	background-color: #3070A8; /* цвет фона - темно-голубой */
	border-radius: 5px; /* немного скруглить углы */
}
/* ---------- Правый билборд END ------------ */

button, 
button:active, 
button:focus {
    outline: none; /* убрать синуюю рамку у кнопки при нажатии и в фокусе  */
}

/* ------------------------------------------------------------------------------------------------------------------------------------------------------------------------------ */

.shell_review {
	width: 100%;
	min-height: 312px;
	font-family: 'Trebuchet MS', sans-serif;
	background: url(images/background.png);
	background-size: cover;
	color: #3170A8;
}

.shell_review > h1 {
	text-align: center;
	padding: 40px 0;
	
}

.shell_review h1 span {
	color: #EE8129;
}

.inner_review {
	width: 1024px;
	min-height: 100px;
	margin: 0 auto;
}

.review1,
.review2,
h4 {
	display: inline-block;
}

.img {
	display: inline-block;	
}

.text_review1,
.text_review2 {
	display: inline-block;
	width: 360px;
	min-height: 100px;
	vertical-align: top;
	background-color: #FFF;
	position: relative;
}

.text_review1 {
	margin: 0 35px 0 25px;
}

.text_review2 {
	margin: 0 0 0 25px;
}

.text_review1::after,
.text_review2::after {
    content: ''; 
    position: absolute; /* Абсолютное позиционирование */
    left: -31px; top: 37px; /* Положение треугольника */
    border: 13px solid transparent; /* Прозрачные границы */
    border-right: 18px solid #FFF; /* Добавляем треугольник */
}

.type {
	float: right;
}

.text_review1 p,
.text_review2 p {
	color: #666666;
	border-top: dotted;
}

.text_review1 h4,
.text_review2 h4 {
	padding: 10px;
}

.text_review1 p,
.text_review2 p {
	margin: 0 10px 0 10px;
	padding-top: 10px;
}

.name::before {
	content: '- ';
}

/* ----------------------------------------------------------------- */

.shell_footer {
	width: 100%;
	min-height: 345px;
}

.inner_footer {
	width: 1024px;
	min-height: 345px;
	margin: 0 auto;
	color: #747474;
}

.left {
	width: 40%;
	min-height: 345px;
	position: relative;
	line-height: 32px;
	font-size: 22px;
	display: inline-block;
	vertical-align: top;
}

.left p {
	margin: 0 0 0 50px;
}

.left p:nth-of-type(1){
	margin: 40px 0 0 50px;
}

.left p:nth-of-type(1)::before {
	content: url(images/vector1.png);
	position: absolute;
	left: 0px;
}

.left p:nth-of-type(2)::before {
	content: url(images/vector3.png);
	position: absolute;
	left: 0px;
}

.left p:nth-of-type(3)::before {
	content: url(images/vector2.png);
	position: absolute;
	left: 0px;
}

.share {
	width: 220px;
	height: 50px;
	margin-top: 30px;
	background: url(images/fb.png) left no-repeat,
				url(images/tw.png) center no-repeat,
				url(images/in.png) right no-repeat;

}

.right {
	width: 40%;
	min-height: 345px;
	display: inline-block;
}

.shell_blue {
	width: 100%;
	min-height: 100px;
	background-color: #3070A8;
	color: #FFF;
}

.inner_blue {
	width: 1024px;
	min-height: 100px;
	margin: 0 auto;
}

.inner_blue p {
	text-align: center;
	line-height: 30px;
}

.inner_blue p:nth-of-type(1) {
	padding: 20px 0 0 0;
}

.inner_blue p a {
	color: #1D1C1C;
}