/* Обнулить внутренние и внешние отступы у всех элементов */
* {
	padding: 0px;
	margin: 0px;
}

/* Удалить кружок выбора radio */
input[type='radio'] {
    display: none;
}

/* Главный блок */
.general {
	width: 900px; /* ширина блока */
	height: auto; /* высота по контенту */
	font-family: 'Trebuchet MS', 'sans-serif'; /* тип шрифта */
	font-size: 24px; /* размер шрифта */
	margin: 10px 10px; /* внешние отступы (верх/низ=10px; лево/право=10px) */
}

/* Заголовок второго уровня */
h2 {
	margin-left: 120px; /* внешний левый отступ */
	margin-bottom: 10px; /* внешний нижний отступ */
}

/* Блок с кнопками */
.buttons {
	display: inline-block; /* сделать элемент строчно-блочным */
	width: 1150px; /* ширина блока */
	height: 700px; /* высота блока по контенту */
	position: relative; /* относительное позиционирование (для блока с браузерами и ред. текстом) */
}

/* Задание свойств обёртке текста */
.buttons label {
	padding: 5px 10px 5px 10px; /* задать внутренние отступы верх/лево/низ/право */
	background-color: #808080; /* цвет фона - серый */
	color: #FFF; /* цвет текста - белый */
	cursor: pointer; /* изменить курсор - рука */
	line-height: 40px; /* задать межстрочный интервал */
	border-radius: 5px; /* закруглить углы */
	-webkit-user-select: none; /* для вебкит-браузеров запретить выделение текста*/
	-moz-user-select: none; /* для мозиллы запретить выделение текста*/
}

/* Блок с описанием каждого атрибута */
.definition {
	border: 1px solid #000; /* задать рамку черного цвет сплошной линией */
	width: 100%; /* ширина блока 100% от блока .buttons */
	height: 50%; /* высота блока 50% от блока .buttons */
	background-color: #FAFAD2; /* светло-песочный цвет фона */
}

.definition p {
	display: none; /* убрать элемент из потока и скрыть */
	padding: 20px; /* внутренние отступы со всех сторон */
}

/* Кнопки с треугольником */
.buttons label[for="default"] {
	position: relative; /* задать относительное позиционирование */
}

/* Создание треугольника, для помещения его вонутрь кнопки */
.buttons label[for="default"]::after {
	content: ''; /* ??? */
    position: absolute; /* задать абсолютное позиционирование */
    right: 10px; /* переместить влево */
	top: 10px; /* переместить наверх */
    border: 10px solid transparent; /* задать прозрачную рамку шириной 10px */
    border-top: 20px solid #fff; /* задать верхнюю рамку белого цвета */
}

/* --- Редактируемый кнопками текст --- */
p.text {
	width: 600px; /* ширина блока */
	height: 120px; /* высота блока */
	border: 1px solid #000; /* задать черную рамку в 1px */
	position: absolute; /* задать абсолютное позиционирование */
	left: 0px; /* прикрепить к левому краю ближайшего предка с position: relative */
	top: 170px; /* сместить вниз */
	background-color: #F0E68C; /* цвет фона - песочный */
	padding: 20px; /* внутренние отступы со всех сторон */
}

/* --- Слово ENTER --- */
p.text span {
	font-style: italic; /* курсивный текст */
	color: #008000; /* цвет текста - зеленый */
}

/* --- Редактируемый кнопками текст END --- */

/* --------- Далее описание действий, происходящих при нажатии на кнопку --------- */
#default:checked ~ label[for="default"],
#pre:checked ~ label[for="pre"],
#nowrap:checked ~ label[for="nowrap"],
#pre_wrap:checked ~ label[for="pre_wrap"],
#pre_line:checked ~ label[for="pre_line"] {
	background-color: #FF0000; /* задать фон - красный */
}

#default:checked ~ p.text {
	white-space: normal; /* Текст в окне браузера выводится как обычно, переносы строк устанавливаются автоматически. */
}

#pre:checked ~ p.text {
	white-space: pre; /* Текст показывается с учётом всех пробелов и переносов, как они были добавлены разработчиком в коде HTML. Если строка получается слишком длинной и не помещается в окне браузера, то будет добавлена горизонтальная полоса прокрутки. */
}

#nowrap:checked ~ p.text {
	white-space: nowrap; /* Пробелы не учитываются, переносы строк в коде HTML игнорируются, весь текст отображается одной строкой; вместе с тем, добавление <br> переносит текст на новую строку. */
}

#pre_wrap:checked ~ p.text {
	white-space: pre-wrap; /* В тексте сохраняются все пробелы и переносы, однако если строка по ширине не помещается в заданную область, то текст автоматически будет перенесён на следующую строку. */
}

#pre_line:checked ~ p.text {
	white-space: pre-line; /* В тексте пробелы не учитываются, текст автоматически переносится на следующую строку, если он не помещается в заданную область. */
}

#default:checked ~ div.definition p:nth-of-type(1) {
	display: block; /* показать элемент, вернуть в поток */
}

#pre:checked ~ div.definition p:nth-of-type(2) {
	display: block; /* показать элемент, вернуть в поток */
}

#nowrap:checked ~ div.definition p:nth-of-type(3) {
	display: block; /* показать элемент, вернуть в поток */
}

#pre_wrap:checked ~ div.definition p:nth-of-type(4) {
	display: block; /* показать элемент, вернуть в поток */
}

#pre_line:checked ~ div.definition p:nth-of-type(5) {
	display: block; /* показать элемент, вернуть в поток */
}

/* --------- Далее описание действий, происходящих при нажатии на кнопку END --------- */