*
{
	margin: 0; /* обнулить внешние отступы */
	padding: 0; /* обнулить внутренние отступы */
}

.parent {
	margin: 20px;
}

.outer_circle {
	width: 200px;
	height: 200px;
	background: url(images/color1.png);
    text-align: center;
	border-radius: 100px;
	box-shadow: 0px 0px 10px rgba(0,0,0,0.5); /* задать тень по краям блока */
}

.outer_circle:active {
	background: #6e6e6e;
	box-shadow: inset 1px 1px 10px -1px;
}

.inner_circle {
	display: inline-block;
	margin-top: 40px;
	width: 120px;
	height: 120px;
	background: url(images/color2.png);
	border-radius: 60px;
	box-shadow: 0px 0px 10px rgba(0,0,0,0.5); /* задать тень по краям блока */
}

.inner_circle:active {
	background: #bb5f7a;
	box-shadow: inset 1px 1px 10px -1px;
}

.inner_inner_circle {
	 display: inline-block;
	width: 60px;
	height: 60px;
	margin-top: 30px;
	background: url(images/color3.png);
	border-radius: 30px;
	box-shadow: 0px 0px 10px rgba(0,0,0,0.5); /* задать тень по краям блока */
}

.inner_inner_circle:active {
	background: #85c846;
	box-shadow: inset 1px 1px 10px -1px;
}

.outer_circle,
.inner_circle,
.inner_inner_circle {
	-border: 1px solid #000;
}