div p:not([class="null"]) { /* применяет ко всем p, за исключением тех, которые с классом null*/
	color: red; /* красный цвет текста*/
}

span:only-child { /* применяется, только если у родителя единственный ребенок (:only-of-type аналогичен) */
	font-weight: bold; /* жирный текст*/
}

