/* Обнулить внутренние и внешние отступы */
* {
	padding: 0;
	margin: 0;
}

/* Элементы a блока .buttons */
.buttons a {
	display: block; /* сделать элемент блочным */
	width: 150px; /* ширина блока - строго одного спрайта */
	height: 37px; /* высота блока - строго одного спрайта */
	background: url(Images/sprite.png); /* используем спрайт, для последующего задания элементам разных фонов */
	margin: 10px; /* задать вшений отступ со всех сторон */
}

/* Движемся по спрайту, задаем фон элементам по умолчанию, а также при нажатии и наведении */
.red a:hover {
	background-position: 0 -38px; /* при наведении на элемент спуститься по спрайту и задать фон */	
}

.red a:active {
	background-position: 0 -76px; /* сместиться вправо по спрайту и задать фон элементу во время между щелчком и отпусканием мыши */
}

.blue a {
	background-position: -150px 0; /* сместиться вправо по спрайту и задать элементу фон */
}

.blue a:hover {
	background-position: -150px -38px; /* при наведении на элемент сместиться вправо по спрайту, спуститься вниз и задать фон */		
}

.blue a:active {
	background-position: -150px -76px; /* сместиться вправо и вниз по спрайту и задать фон элементу во время между щелчком и отпусканием мыши */
}

.black a {
	background-position: -300px 0; /* сместиться вправо по спрайту и задать элементу фон */
}

.black a:hover {
	background-position: -300px -39px; /* при наведении на элемент сместиться вправо по спрайту, спуститься вниз и задать фон */	
}

.black a:active {
	background-position: -300px -76px; /* сместиться вправо и вниз по спрайту и задать фон элементу во время между щелчком и отпусканием мыши */
}
/* Движемся по спрайту, задаем фон элементам по умолчанию, а также при нажатии и наведении END*/