/* Обнуляем внутренние и внешние отступы */
* {
	padding: 0px;
	margin: 0px;
}

/* Главный блок */
.shell {
	margin: 30px; /* задать внешние отступы со всех сторон */
}

/* Блок с меню */
.menu {
	width: 367px; /* ширина блока */
	height: 100px; /* высота блока */
	position: relative; /* задать относительное позиционирование */
	z-index: 2; /* задать слой */
	border-radius: 2px; /* немного закруглить углы блока */
	box-shadow: 0px 5px 10px rgba(0,0,0,0.5); /* задать тень по краям блока */
}

/* Прямоугольный треугольник слева под блоком с меню */
.left_angle::after {
	content: ''; /* для отображения фигур */
	position: absolute; /* задать абсолютное позиционирование */
	border: 35px solid transparent;	/* создаем треугольник */ 
	border-top: 9px solid #EEBD86; /* создаем треугольник */ 
	border-right: 0px solid #EEBD86; /* создаем треугольник */ 
	transform: translate(45px, 71px); /* сдвиг вправо и вниз */
}

/* Прямоугольный треугольник справа под блоком с меню */
.right_angle::before {
	content: ''; /*  */
	position: absolute; /* задать абсолютное позиционирование */
	border: 35px solid transparent;	/* создаем треугольник */ 
	border-top: 9px solid #EEBD86; /* создаем треугольник */ 
	border-left: 0px solid #EEBD86; /* создаем треугольник */ 
	transform: translate(0px, 71px); /* сдвиг вправо и вниз */
}

/* Пункты меню */
.menu ul li {
	display: inline-block; /* сделать элемент инлайн-блочным */
	padding: 40px; /* задать внутренние отступы со всех сторон */
	font-weight: bold; /* задать жирность */
	vertical-align: top; /* выровнять элементы по топу */
}

/* При наведении на пункты меню */
.menu ul li:hover {
	-border: 1px solid #000; /* создать вокруг блока границу черного цвета */
	box-shadow: 0px 0px 10px rgba(0,0,0,0.5); /* задать тень по краям блока */
	transition: all 1s ease 0.1s; /* применить ко всем эл., анимация длится 1s, протекает плавно, начианется сразу же */
}

/* Блок с меню, левая часть ленты и правая часть ленты */
.menu,
.left_angle,
.right_angle {
	display: inline-block; /* сделать элемент инлайн-блочным */
	vertical-align: top; /* выровнять элементы по топу */
	background-color: #FFE4C4; /* задать цвет фона - светло-коричневый */
}

/* Левая часть ленты и правая часть ленты */
.left_angle,
.right_angle {
	width: 80px; /* ширина блока */
	height: 80px; /* высота блока */
	position: relative; /* задать относительное позиционирование */
	z-index: 1; /* задать слой */
}

/* Левая часть ленты */
.left_angle {
	transform: translate(40px, 30px); /* сместить элемент вправо, вниз */
	box-shadow: 10px 5px 10px rgba(0,0,0,0.5); /* задать тень и сместить ее вправо, вниз и по оси z, с прозрачностью 0,5 */
}

/* Правая часть ленты */
.right_angle {
	transform: translate(-40px, 30px); /* сместить элемент влево, вниз */
	box-shadow: -10px 5px 10px rgba(0,0,0,0.5); /* задать тень и сместить ее влево, вниз и по оси z, с прозрачностью 0,5 */
}

/* Равнобедренный треугольник левой части ленты */
.left_angle::before {
	position: absolute; /* задать абсолютное позиционирование */
	content: '';  /* для отображения фигуры */
	border: 40px solid transparent;	/* создаем треугольник */
	border-left: 30px solid #FFF; /* создаем треугольник */
}

/* Равнобедренный треугольник правой части ленты */
.right_angle::after {
	position: absolute; /* задать абсолютное позиционирование */
	content: ''; /* для отображения фигуры */ 
	border: 40px solid transparent;	/* создаем треугольник */ 
	border-right: 30px solid #FFF; /* создаем треугольник */
	margin-left: 10px; /* смещаем немного вправо треугольник */
}




