li {
	font-size: 24px;
}

ul li.blue a:visited {
	color: blue;
}

ul li.orange a:visited {
	color: orange;
}

ul li.gray a:visited {
	color: gray;
}

ul li span {
	display: inline-block;
	transform: rotate(90deg)
}

